* {
  box-sizing: border-box;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  position: relative;
  width: 700px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0px 3px 15px black;
  border-radius: 15px;
  margin: 30px;
  gap: 10px;
  padding: 15px;
}

.cartItem img {
  width: 250px;
  height: 180px;
}

.cartItem .description {
  width: 100%;
  font-size: 30px;
  display: flex;
}

.checkout button {
  width: 250px;
  height: 50px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.countHandler {
  width: 30%;
  display: flex;
  position: absolute;
  text-decoration: none;
  height: 40px;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 35%;
}

.countHandler input {
  height: 100%;
  width: 33%;
  text-align: center;
  font-weight: bolder;
}
.countHandler button {
  width: 33%;
  text-decoration: none;
  display: flex;
  margin: 0 auto;
  width: 100px;
  height: 40px;
  font-size: 1.5em;

  text-align: center;
  justify-content: center;
  /* padding-left: 40%; */
}
